<!DOCTYPE html>
<html lang="en">


<!-- THE HEAD TAG PARTIAL -->
<%- include("../partials/head") %>

<body>

    <!-- THE HEADER TAG PARTIAL -->
    <%- include("../partials/header") %>

    <section class="hero is-header has-text-centered">
      <div class="hero-body">
        <p class="title">New User Signup</p>
         <p class="subtitle">Already signed up? Click here to Log In</p>
      </div>
    </section>

    <main class="signup-container">
        <!-- <h1>User Signup</h1>
        <form action="/auth/signup" method="post">
        <input type="text" name="username" placeholder="username" />
        <input type="text" name="password" placeholder="password" />
        <input type="submit" value="sign up" /> -->


<div class="box signup-form">
<form action="/auth/signup" method="post" id="signup-form">
    <div class="field">
        <label class="label">Username</label>
    <div class="control">
        <input class="input" type="text" placeholder="username" name="username" />
    </div>
    </div>

    <div class="field">
    <label class="label">Email</label>
    <div class="control">
        <input class="input" type="text" placeholder="password" name="password">
    </div>
</div>


<div class="field">
  <p class="control" type="submit" value="sign up" id="signup-button">
    <button class="button is-success">
      Login
    </button>
  </p>
</div>





        </button>
    </div>
</form>
</div>

</main>



    <!-- THE FOOTER TAG PARTIAL -->
    <%- include("../partials/footer") %>
</body>
</html>
