


<!-- Nav bar menu for desktop and hamburger menu for mobile -->
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
       <figure class="image is-32x32">
      <img class="is-rounded" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.Z_LJ1kkfAyE3qWELv-907QHaHa%26pid%3DApi&f=1" width="" height="">
        </figure>
    </a>


    <a role="button" class="navbar-burger" id="burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="/home" class="navbar-item">
        Home
      </a>

      <a href="/user/profile" class="navbar-item">
        Profile
      </a>

       <a href="https://github.com/mickey-vershbow" target="_blank" class="navbar-item">
        Shop
      </a>


      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a href="/" target="_blank" class="navbar-item">
            Documentation
          </a>
          <a href="/" target="_blank" class="navbar-item">
            About Us
          </a>
          <a href="/partials/contact" class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a href="/partials/contact" class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="/auth/signup" class="button is-success">
            <strong>Sign up</strong>
          </a>
          <a href="/auth/login" class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
