<!-- Nav bar menu for desktop and hamburger menu for mobile -->
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
       <figure class="image is-32x32 navbar-logo">
          <img src="https://trefle.io/packs/media/packs/images/logo-c59aba50bc1f1443bb1183809161e350.svg">
       </figure>
    </a>


    <a role="button" class="navbar-burger" id="burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="/home" class="navbar-item">
        Home
      </a>

      <a href="/user/profile" class="navbar-item">
        Profile
      </a>

       <a href="https://github.com/mickey-vershbow" target="_blank" class="navbar-item">
        Shop
      </a>


      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a href="/" target="_blank" class="navbar-item">
            Documentation
          </a>
          <a href="/" target="_blank" class="navbar-item">
            About Us
          </a>
          <a href="/partials/contact" class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a href="/partials/contact" class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

     <% if (isLoggedIn) { %>
      <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a href="/user/profile" class="button is-signup">
                  <strong>Profile</strong>
                </a>
                <a href="/user/logout" class="button is-light">
                  Log Out
                </a>
              </div>
            </div>
          </div>
      <% } else { %>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="/auth/signup" class="button is-signup">
            <strong>Sign up</strong>
          </a>
          <a href="/auth/login" class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  <% } %>
  </div>
</nav>
