<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>

  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("partials/header") %>

<hr>

<main>
    <div class="slider">
        <a href="https://www.apieceofrainbow.com/18-easy-indoor-plants-house-plants/"><img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/hc-5-1589572155.jpg"></a>
        <div class="controls">
            <button id="back">⇽</button>
            <button id="forward">⇾</button>
        </div>
    </div>
</main>

</body>
</html>
