<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>

  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("partials/header") %>

<hr>

<!-- THE HEADER LINKS -->
<div class="header-links-container2">
<div class="header-links-container">
    <div>
      <a href="/">BROWSE</a>
    </div>
    <div>
      <a href="/">COLLECT</a>
    </div>
    <div>
      <a href="/">SHOP</a>
    </div>
    </div>
    </div>
<hr>

<!-- BULMA TILES -->
<div class="bulma-tiles">
<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
          <p class="title">Vertical...</p>
          <p class="subtitle">Top tile</p>
        </article>
        <article class="tile is-child notification is-warning">
          <p class="title">...tiles</p>
          <p class="subtitle">Bottom tile</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">Middle tile</p>
          <p class="subtitle">With an image</p>
          <figure class="image is-4by3">
            <img src="https://bulma.io/images/placeholders/640x480.png">
          </figure>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-danger">
        <p class="title">Wide tile</p>
        <p class="subtitle">Aligned with the right tile</p>
        <div class="content">
          <!-- Content -->
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-success">
      <div class="content">
        <p class="title">Tall tile</p>
        <p class="subtitle">With even more content</p>
        <div class="content">
          <!-- Content -->
        </div>
      </div>
    </article>
  </div>
</div>

</div>
 </body>
</html>



























    <!---------------- OLD HOME PAGE ---------------->
<!-- <section class="hero is-info has-text-centered" id="info-hero">
  <div class="hero-body">
    <a href="index" class="button" id="guest-button"><strong>Browse As A Guest</strong></a>
    <a href="/auth/signup" class="button" id="collection-button"><strong>Create A Collection</strong></a>
    </p>
  </div>
</section> -->


    <!-- <nav class="level" id="stats-bar">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Users</p>
          <p class="title">3,456</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Plant Profiles</p>
          <p class="title">1,235</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Tips & Tricks</p>
          <p class="title">456</p>
        </div>
      </div>
      </div>
    </nav> -->


    <!-- THE FOOTER TAG PARTIAL -->
    <!-- <%- include("./partials/footer") %> -->
