<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>

  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("partials/header") %>

<hr>

<!-- THE HEADER LINKS -->

<div class="header-links-container">
    <div class="header-link">
      <a href="/trefle/1">BROWSE</a>
    </div>
      <div class="header-link">
        <a href="/user/profile">COLLECT</a>
    </div>
    <div class="header-link">
      <a href="/">SHOP</a>
    </div>
    </div>
<hr>

<main class="home-container">

<!-- BULMA TILES -->
<div class="home-tiles">
<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-tile">
          <p class="title is-spaced has-text-centered">Welcome!</p>
          <p class="subtitle">Use this app to find the perfect plants for your indoor space.</p> <hr><p class="subtitle">You can browse our selection of plants, create your own collection, and add your own notes as you experiment.</p><hr>
          <p class="subtitle">Plants data provided by  <a href="https://trefle.io">Trefle API.</p></a>
</article>
</div>

<!------------ CAROUSEL ----------------->
      <div class="tile is-parent">
        <article class="tile is-child notification has-background-success-light carousel" id="image-carousel-mv">

           <div class="controls">
                  <button id="back">⇽</button>
            </div>

            <div class="slider">
             <img src="https://bs.plantnet.org/image/o/668a5e74aff488d054f8530da0f43ce722636f67" id="carousel-images">
            </div>

            <div class="controls">
                  <button id="forward">⇾</button>
            </div>

  </article>
</div></div>


    <div class="tile is-parent">
      <article class="tile is-child notification
        has-background-success-light">
        <p class="title">Houseplant Shop</p>
        <p class="subtitle">You never know you need something until you see it in a store!</p>
        <div class="content">
          (shop products here)
        </div>
      </article>
    </div>
  </div>


  <div class="tile is-parent">
    <article class="tile is-child notification
        has-background-success-light">
      <div class="content">
        <p class="title">Discover</p>
        <p class="subtitle">Find your new favorite plants and save them to your personal collection.</p>
      <div class="content">
          <ul class="menu-list">
            <li><a href="https://www.healthline.com/health/healthy-home-guide/benefits-of-indoor-plants#7-benefits" target="_blank">Benefits of Indoor Plants</a></li>
            <li><a href="https://www.forbes.com/sites/jamiegold/2020/06/16/5-easy-to-grow-houseplants-that-improve-indoor-air-quality/?sh=55cf8d344155" target="_blank">Plants for Air Quality</a></li>
            <li><a>Safe for Pets and Children</a></li>
            <li><a>Plants for Stress & Anxiety</a></li>
            <li><a>Tropical Climate</a></li>
            <li><a>Topical Climate</a></li>
            <li><a>Psychoactives and Edibles</a></li>
          <ul>
        </div>
      </div>
    </article>
  </div>
</div>
</div>
</main>



   <!-- THE FOOTER TAG PARTIAL -->
    <%- include("partials/footer") %>
 </body>
</html>
