<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>

  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("partials/header") %>

<hr>

<!-- THE HEADER LINKS -->

<div class="header-links-container">
    <div>
      <a href="/index">BROWSE</a>
    </div>
      <div>
        <a href="/user/profile">COLLECT</a>
    </div>
    <div>
      <a href="/">SHOP</a>
    </div>
    </div>
<hr>

<!-- BULMA TILES -->
<div class="home-tiles">
<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification">
          <p class="title is-spaced">Welcome!</p>
          <p class="subtitle">Use this app to find the perfect plants for your indoor space. <br><br> You can browse our selection of plants, create your own collection, and add your own notes as you experiment.</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification">
          <p class="title">Plant Name</p>
          <p class="subtitle">Brief description</p>
          <figure class="image is-4by3">
            <img src="" alt="plant-image">
          </figure>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification ">
        <p class="title">Houseplant Shop</p>
        <p class="subtitle">You never know you need something until you see it in a store!</p>
        <div class="content">
          (shop products here)
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification">
      <div class="content">
        <p class="title">Discover</p>
        <p class="subtitle">Find your new favorite plants and save them to your personal collection.</p>
        <div class="content">
          <ul class="menu-list">
            <li><a href="https://www.healthline.com/health/healthy-home-guide/benefits-of-indoor-plants#7-benefits" target="_blank">Benefits of Indoor Plants</a></li>
            <li><a href="https://www.forbes.com/sites/jamiegold/2020/06/16/5-easy-to-grow-houseplants-that-improve-indoor-air-quality/?sh=55cf8d344155" target="_blank">Plants for Air Quality</a></li>
            <li><a>Safe for Pets and Children</a></li>
            <li><a>Plants for Stress & Anxiety</a></li>
            <li><a>Tropical Climate</a></li>
            <li><a>Topical Climate</a></li>
            <li><a>Psychoactives and Edibles</a></li>
          <ul>
        </div>
      </div>
    </article>
  </div>
</div>
</div>




   <!-- THE FOOTER TAG PARTIAL -->
    <%- include("partials/footer") %>
 </body>
</html>



























    <!---------------- OLD HOME PAGE ---------------->
<!-- <section class="hero is-info has-text-centered" id="info-hero">
  <div class="hero-body">
    <a href="index" class="button" id="guest-button"><strong>Browse As A Guest</strong></a>
    <a href="/auth/signup" class="button" id="collection-button"><strong>Create A Collection</strong></a>
    </p>
  </div>
</section> -->


    <!-- <nav class="level" id="stats-bar">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Users</p>
          <p class="title">3,456</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Plant Profiles</p>
          <p class="title">1,235</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Tips & Tricks</p>
          <p class="title">456</p>
        </div>
      </div>
      </div>
    </nav> -->


    <!-- THE FOOTER TAG PARTIAL -->
    <!-- <%- include("./partials/footer") %> -->
