<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>

  <body>
    <div id="forest-img">'

    </div>

    <div class="landing-text">
    <!-- <div class="box"> -->
    <p class="title is-1" id="landing-title">HOUSEPLANT</p>
    <p class="subtitle is-5 has-text-centered" id="landing-subtitle">BRAND. STATEMENT. HERE.</p>
    <!-- </div> -->
</div>

<a href="/home"> <button class="button" id="enter-site">ENTER SITE</button></a>



  </body>
</html>
