<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>

  <body>

    <!-- <div class="box"> -->
    <p class="title is-1 is-spaced has-text-centered">HOUSEPLANT</p>
    <p class="subtitle is-4 has-text-centered">BRAND. STATEMENT. HERE.</p>
    <!-- </div> -->



  </body>
</html>
