<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>

  <body>
    <div id="bg">'

    </div>

    <div class="landing-text">
    <!-- <div class="box"> -->
    <p class="title is-1" id="landing-title">NATIVE PLANT</p>
    <!-- <p class="subtitle is-5 has-text-centered" id="landing-subtitle">BRAND. STATEMENT. HERE.</p> -->
    <!-- </div> -->
</div>

<a href="/home"> <button class="button is-outlined is-medium" id="enter-site">ENTER</button></a>




  </body>
</html>
